@use 'variables';

@mixin small-tablet{
  @media (min-width: 600px){
    @content;
  }
}

@mixin landscape {
    @media (min-width: 768px){
      @content;
    }
  }
  
@mixin medium-screen {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin wide-screen {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin jost-regular{
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

@mixin jost-medium{
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}

@mixin default-grid{
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: 1fr;
}

@mixin default-img{
  object-fit: cover;
	object-position: center;
}

@mixin default-background{
  background-size: cover;
	background-position: center;
}

@mixin cover-parent{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@mixin image-slot{
  height: 0;
  position: relative;
}

@mixin heading-format{
  font-size: 2rem;
	line-height: 1.2;
	margin-bottom: 1.65rem;
	z-index: 2;
}

@mixin text-format{
  line-height: 1.5;
	margin-bottom: 1.75rem;
	z-index: 2;
}

@mixin subheading-format{
  text-transform: uppercase;
	letter-spacing: 0.25rem;
	font-size: 1.3rem;
	text-align: center;
	margin: 2rem 0 1.6rem;
}