/* 
==============================================
CONTENT:	Big Top
AUTHOR:		Eric Canosa
==============================================

TABLE OF CONTENTS:

0. Initialization
1. Home Page
2. About Page
3. Utility

==============================================
*/

/* 0. Initialization ========================= */
@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Home Page ================================= */

*, *::before, *::after {
	box-sizing: border-box;
}

body{
	@include mixins.jost-regular;
	color: variables.$black;
}

a{
	text-decoration: none;
}

.display-grid{
	@include mixins.default-grid;
}

.top-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2.35rem 7.1% 1.25rem;

	&__link{
		display: flex;
		flex-direction: row;
		color: variables.$black;
		position: relative;
	}

	&__logo{
		@include mixins.default-img;
		width: 60%;
	}

	&__heading{
		@include mixins.jost-medium;
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 0.3rem; 
		position: absolute;
		top: 0.5rem;
		left: 3rem;
		width: 15rem; 
		
	}
}

.toggle{
	display: flex;
	flex-direction: column;
	width: 1.6rem;
	height: 1.3rem;
	cursor: pointer;
	position: relative;
	z-index: 4;
	justify-content: space-between;
	margin-top: 0.4rem;

	@include mixins.landscape{
		display: none;
	}

	&__line{
		width: 100%;
		height: 0.25rem;
		background: black;
		transition: transform 200ms ease-in-out, color 200ms ease-in-out, visibility 50ms ease-in-out;

		&_open-1{
			@include mixins.open-line;
			transform: rotate(45deg);
		}

		&_open-2{
			@include mixins.open-line;
			transform: rotate(-45deg);
		}

		&_open-3{
			position: absolute;
			visibility: hidden;
		}
	}

	&__checkbox{
		position: absolute;
		right: 1.9rem;
		transform: scale(2);
		top: 3.05rem;
		opacity:0;

		@include mixins.landscape{
			display: none;
		}
	}
}

.menu{
	position: absolute;
	visibility: hidden;
	width: 0rem;
	opacity: 0;
	right: 0;
	top: 0;
	height: 100vh;
	@include mixins.default-grid;
	padding: 4rem 0 0 3.7rem;
	transition: width 200ms ease-in-out;
	z-index: 3;
	overflow-x: hidden;

	@include mixins.landscape{
		@include mixins.default-grid;
		grid-column:2/3;
		position: unset;
		width: unset;
		opacity: unset;
		right: unset;
		top: unset;
		height: unset;
		padding: unset;
		transition: unset;
		visibility: unset;
	}

	&__list{
		@include mixins.landscape{
			display: flex;
			justify-content: space-between;
			width: 22rem;
			align-items: flex-end;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 1.25rem;
			max-width: 22rem;
		}
	}

	&__link{
		color: variables.$black;
		text-transform: uppercase;
		letter-spacing: 0.15rem;

		&:hover{
			color: variables.$light-red;
		}
	}

	&_open{
		background: white;
		width: 20.6rem;
		opacity: 1;
		visibility: unset;
	}

	&__item{

		&_open{
			margin-top: 3rem;
			text-align: left;
		}

	}
}

.hero{
	@include mixins.default-grid;
	background: variables.$light-red;
	color: white;
	padding: 2.35rem 7.95% 2.35rem 7.1%;
	position: relative;
	z-index: 0;
	overflow: hidden;

	@include mixins.landscape{
		margin: 2rem 7.1%;
		border-radius: 0.7rem;
		padding-right: 28%;
		height: 34rem;
	}

	@include mixins.wide-screen{
		margin: 2rem 7.1%;
		padding: 2.35rem 41% 2.35rem 10%;
	}

	&__heading{
		@include mixins.heading-format;

		@include mixins.landscape{
			margin-top: auto;
			font-size: 2.5rem;
		}

		@include mixins.wide-screen{
			font-size: 2.8rem;
		}
	}

	&__text{
		@include mixins.text-format;

		@include mixins.landscape{
			margin-bottom: -1.75rem;
		}

		@include mixins.wide-screen{
			font-size: 1.15rem;
			margin-bottom: 1.75rem;
		}
	}

	&__button{
		width: 8.55rem;
		text-transform: uppercase;
		border: none;
		border-radius: 0.4rem;
		padding: 1.25rem 1.25rem;
		letter-spacing: 0.05rem;
		justify-self: right;
		margin-bottom: 16rem;
		z-index: 2;
		cursor: pointer;

		@include mixins.landscape{
			justify-self: left;
			margin-bottom: auto;
		}

		&:hover{
			filter: brightness(0.85);
		}
	}

	&__circle{
		width: 15rem;
		height: 15rem;
		border-radius: 999rem;
		background: black;
		position: absolute;
		z-index: 1;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0.05;

		@include mixins.wide-screen{
			width: 17rem;
			height: 17rem;
		}

		&_1{
			left: 17%;
			top: 0.2rem;

			@include mixins.wide-screen{
				left: unset;
				right: -8.3rem;
			}
		}

		&_2{
			left: 85%;
			top: 0.2rem;

			@include mixins.wide-screen{
				left: unset;
				right: 8.3rem;
			}
		}

		&_3{
			left: 17%;
			top: 16.5rem;

			@include mixins.wide-screen{
				left: unset;
				right: 25.25rem;
				top: 0.2rem;
			}
		}

		&_4{
			left: 85%;
			top: 16.5rem;

			@include mixins.wide-screen{
				left: unset;
				right: -8.3rem;
				top: 17.1rem;
			}
		}

		&_5{
			display: none;

			@include mixins.wide-screen{
				display: block;
				left: unset;
				right: 7.5rem;
				top: 17.1rem;
			}
		}
	}


	&:before{
		content: "";
		position: absolute;
		width: 15rem;
		height: 20rem;
		left: 50%;
		bottom: 0;
		transform: translateX(-50%);
		background: url("../../dist/img/phone.png");
		@include mixins.default-background;
		z-index: 1;

		@include mixins.landscape{
			background: url("../../dist/img/big-phone.png");
			@include mixins.default-background;
			left: 83%;
			top: 5.75rem;
			width: 13rem;
			height: 21rem;
		}

		@include mixins.wide-screen{
			left: 75%;
			top: 2.75rem;
			width: 25rem;
			height: 40rem;
		}
	}



	// &:after{
	// 	content: "";
	// 	position: absolute;
	// 	right: 0;
	// 	top: 0;
	// 	width: 5rem;
	// 	height: 5rem;
	// 	background: url("../../dist/img/hero_decoration.png");
	// 	@include mixins.default-background;
	// 	z-index: 2;
	// }
}

.projects{
	@include mixins.default-grid;
	padding: 2.3rem 0;
	gap: 1rem;
	

	@include mixins.landscape{
		grid-template-columns: repeat(2, minmax(0, 1fr));
		padding: 2.3rem 7.1%;
	}

	&__card{
		@include mixins.image-slot;
		padding-bottom: 82%;
		border: none;
		cursor: pointer;
		margin: 0 auto 1.85rem;
		border-radius: 0.7rem;
		width: 90%;
		max-width: 40rem;

		@include mixins.small-tablet{
			padding-bottom: 50%;
		}


		@include mixins.landscape{
			width: 100%;
			margin: unset;
			padding-bottom: 50%;
			max-width: unset;
		}

		@include mixins.wide-screen{
			padding-bottom: 39.5%;
		}

		&_web{
			@include mixins.landscape{
				grid-row: 1/3;
				height: 100%;
			}
		}
	}

	&__card-image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		z-index: 0;
		border-radius: 0.7rem;
	}

	&__heading{
		text-align: center;
		color: white;
		font-size: 2.1rem;
		transform: scale(1, 1.1);
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		line-height: 1.3;

		@include mixins.landscape{
			font-size: 1.75rem;
		}
	}

	&__text{
		@include mixins.default-grid;
		position: absolute;
		color: white;
		z-index: 1;
		left: 50%;
		top: 50%;
		transform: translateX(-50%) translateY(-50%);
		width: 80%;
	}

	&__link{
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.3rem;
		color: white;
		margin: 2rem auto 0;
		left: -3.5%;

		@include mixins.landscape{
			font-size: 0.9rem;
			margin-top: 1.25rem;
			left: -2.5%;
		}

		&:after{
			content: "";
			position: absolute;
			width: 0.4rem;
			height: 0.4rem;
			border-top: 2px solid red;
			border-right: 2px solid red;
			transform: rotate(45deg);
			margin: 0.25rem 0 0 1.75rem;

			@include mixins.landscape{
				margin: 0.25rem 0 0 1rem;
			}
		}
	}
}

.overview{
	@include mixins.default-grid;
	padding: 2.3rem 0 20rem;
	color: variables.$dark-gray;

	@include mixins.landscape{
		margin: 0 7.1%;
		padding: 5rem 0 13rem;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	&__item{
		@include mixins.default-grid;

		@include mixins.landscape{
			grid-template-rows: 11rem;
		}

		@include mixins.medium-screen{
			grid-template-rows: 19vw;
		}
	}

	&__image-slot{
		margin: 0 auto;
		width: 70%;
		@include mixins.image-slot;
		padding-bottom:59%;

		&_handshake{
			padding-bottom: 63%;
		}

		&_reinvention{
			padding-bottom: 58%;
		}

		@include mixins.landscape{
			place-self: center center;
		}

		@include mixins.medium-screen{
			place-self: unset;
		}
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
	}

	&__heading{
		@include mixins.subheading-format;

		@include mixins.landscape{
			letter-spacing: 0rem;
		}

		@include mixins.medium-screen{
			letter-spacing: 0.25rem;
		}
	}

	&__text{
		text-align: center;
		padding: 0 2.3rem;
		line-height: 1.5;
		margin-bottom: 3rem;

		@include mixins.landscape{
			padding: 0 1.25rem;
		}

		@include mixins.medium-screen{
			padding: 0 2.3rem;
		}
	}
}

.footer{
	position: relative;
}

.contact{
	position: absolute;
	width: 90%;
	background: variables.$light-red;
	@include mixins.default-grid;
	top: 0;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border-radius: 0.7rem;
	color: white;
	text-align: center;
	padding: 3rem 1.2rem;

	@include mixins.landscape{
		width: 76%;
		text-align: unset;
		grid-template-columns: minmax(0, 1fr) minmax(0, 0.05fr) minmax(0, 1fr);
		padding: 4rem 3rem;
	}

	&__heading{
		font-size: 2rem;
		line-height: 1.15;
		margin-bottom: 1.5rem;

		@include mixins.landscape{
			font-size: 2rem;
			width: 100;
			grid-row: 1/2;
			margin-bottom: 1rem;
		}
	}

	&__text{
		line-height: 1.5;
		padding-bottom: 5.5%;
		
		@include mixins.landscape{
			width: 100%;
			grid-row: 2/3;
		}

		@include mixins.landscape{
			padding-bottom: unset;
		}
	}

	&__button{
		padding: 1.3rem 1rem;
		border-radius: 0.7rem;
		border: none;
		width: 9.15rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin: 0 auto;
		text-align: center;
		cursor: pointer;

		@include mixins.landscape{
			grid-row: 1/3;
			grid-column: 3/4;
			height: 3rem;
			padding: unset;
			margin: unset;
			place-self: center center;
			margin-left:15%;
		}

		&:hover{
			filter: brightness(0.85);
		}
	}
}

.outro{
	background: variables.$black;
	@include mixins.default-grid;

	@include mixins.medium-screen{
		grid-template-columns: minmax(0, 0.4fr) minmax(0, 0.75fr) minmax(0, 0.75fr) minmax(0, 1fr) minmax(0, 0.4fr);
		padding-bottom: 5rem;
	}

	&__link{
		margin: 15rem 0 3.5rem;
		display: flex;
		position: relative;
		justify-self: center;
		width: 12rem;

		@include mixins.medium-screen{
			grid-column: 2/3;
			justify-self: left;
		}

		&:after{
			content: "";
			position: absolute;
			width: 150%;
			height: 1px;
			background: variables.$dark-gray;
			bottom: -2rem;
			left: 50%;
			transform: translateX(-50%);
			z-index: 2;
			opacity: 0.5;

			@include mixins.medium-screen{
				left: 0;
				transform: unset;
				width: 75vw;
			}
		}
	}

	&__heading{
		@include mixins.jost-medium;
		text-transform: uppercase;
		font-size: 1.5rem;
		letter-spacing: 0.3rem;
		position: absolute;
		top: 1.4rem;
		left: 4.2rem;
		width: 7.85rem;
		color: variables.$light-gray;
	}

	&__logo{
		@include mixins.default-img;
		width: 23%;
	}

	&__contact-card{
		@include mixins.default-grid;
		text-align: center;

		@include mixins.medium-screen{
			grid-column: 2/3;
			grid-row: 2/3;
			text-align: left;
		}

		&_2{
			margin-top: 1.5rem;

			@include mixins.medium-screen{
				grid-column: 3/4;
				grid-row: 2/3;
				margin-top: unset;
			}
		}
	}

	&__sub-heading{
		@include mixins.jost-medium;
		color: variables.$light-gray;
		opacity: 0.75;
		margin: 1rem 0 0.75rem;
	}

	&__text{
		color: variables.$light-gray;
		opacity: 0.5;
		margin-bottom: 0.75rem;
	}

	&__email{
		color: variables.$light-gray;

		&:hover{
			text-decoration: underline;
		}
	}
	
}

.footer-nav{
	margin: 0 auto;

	@include mixins.medium-screen{
		grid-column: 4/5;
		grid-row: 1/2;
		width: 100%;
	}

	&__list{
		@include mixins.default-grid;

		@include mixins.medium-screen{
			display: flex;
			grid-template-rows: unset;
			width: 100%;
			max-width: 30rem;
			justify-content: space-between;
			height: 2rem;
			margin-left: auto;
		}
	}

	&__item{
		margin-bottom: 2rem;

		@include mixins.medium-screen{
			z-index: 0;
			@include mixins.default-grid;
			height: 100%;
			margin: unset;
		}

	}

	&__link{
		color: white;
		text-transform: uppercase;
		text-align: center;
		font-size: 0.9rem;
		letter-spacing: 0.15rem;

		@include mixins.medium-screen{
			margin-top: 16.5rem;
		}

		&:hover{
			color: variables.$light-red;
		}
	}
}

.social-media{
	display: flex;
	justify-content: center;
	margin: 2rem 0 3.5rem;

	@include mixins.medium-screen{
		grid-row: 2/3;
		grid-column: 4/5;
		justify-self: right;
		width: 15rem;
		justify-content: space-between;
		margin: 3.75rem 0 0;
	}

	&__icon{
		color: variables.$light-gray;
		opacity: 0.6;
		font-size: 1.6rem;
		margin-right: 1rem;

		&:hover{
			opacity: 0.9;
		}
	}
}

.fa-instagram{
	margin: 0;
}

/* 2. About Page ============================== */

.about-page .hero{

	padding: 2.35rem 7.1%;

	@include mixins.landscape{
		margin: unset;
		margin: 4rem 7.1% 9rem;
		border-radius: unset;
		height: unset;
		grid-template-columns: minmax(0, 1fr) minmax(0, 0.75fr);
		padding: 0;
		grid-template-rows: 23.75% 0.5rem;
		border-radius: 0.7rem;
	}

	&__heading{
		@include mixins.landscape{
			margin: unset;
			margin-left: 15%;
			align-self: flex-end;
		}
	}

	&__text{
		@include mixins.landscape{
			margin: 0 4rem 0 15%;
			grid-column: 1/2;
			place-self: top center;
			grid-row: 3/4;
		}
	}

	&__image-slot{
		@include mixins.image-slot;
		padding-bottom: 76%;

		@include mixins.landscape{
			grid-row: 1/4;
			grid-column: 2/3;
			padding-bottom: 130%;
		}

		@include mixins.medium-screen{
			padding-bottom:76%;
		}
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		border-radius: 0.7rem;

		@include mixins.landscape{
			border-radius: unset;
		}
	}

	&__circle_1{
		left: 17%;
		top: 0.2rem;

		@include mixins.landscape{
			width: 55%;
			height: 100%;
			top: 0;
			left: 28.5%;
		}

		@include mixins.medium-screen{
			width: 50%;
			height: 150%;
			top: -20%;
		}

		@include mixins.wide-screen{
			left: 28.5%;
			right: unset;
		}
	}

	&:before{
		display: none;
	}
}

.code{
	@include mixins.default-grid;
	background: rgba(255, 173, 155, 0.25);
	padding: 2.35rem 7.1%;

	@include mixins.landscape{
		margin: 0 7.1% 2rem;
		grid-template-columns: minmax(0, 0.75fr) minmax(0, 1fr);
		grid-template-rows: auto max-content auto;
		padding: 0;
		border-radius: 0.7rem;
	}

	&__heading{
		@include mixins.heading-format;
		color: variables.$light-red;

		@include mixins.landscape{
			margin: 1rem 15%;
			align-self: flex-end;
		}
	}

	&__image-slot{
		grid-row: 4/5;
		@include mixins.image-slot;
		padding-bottom: 76%;

		@include mixins.landscape{
			grid-column: 1/2;
			grid-row: 1/4;
			padding-bottom: 235%;
		}

		@include mixins.medium-screen{
			padding-bottom:137%;
		}

		@include mixins.wide-screen{
			padding-bottom:94%;
		}

		@include mixins.extra-wide-screen{
			padding-bottom:76%;
		}
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		border-radius: 0.7rem;

		@include mixins.landscape{
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			object-position: left;
		}

		@include mixins.wide-screen{
			object-position: center;
		}
	}

	&__text{
		@include mixins.text-format;

		@include mixins.landscape{
			margin: 1rem 15%;
		}
	}
}

.locations{
	@include mixins.default-grid;
	padding: 2.35rem 7.1%;
	width: 100%;
	justify-content: space-between;

	@include mixins.landscape{
		grid-template-columns: repeat(3, minmax(0, 1fr));
		margin: 5rem 0;
	}

	&__item{
		@include mixins.default-grid;
		place-self: center center;
		width: 50%;
	}
	
	&__image-slot{
		@include mixins.image-slot;
		padding-bottom: 100%;
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
	}

	&__heading{
		@include mixins.subheading-format;
	}

	&__link{
		background: rgba(255, 173, 155);
		text-align: center;
		color: White;
		padding: 1rem;
		border-radius: 0.7rem;
		width: 8rem;
		place-self: center center;
		margin-bottom: 3rem;
	}
}

.real-deal{
	@include mixins.default-grid;
	background: rgba(255, 173, 155, 0.25);
	padding: 2.35rem 7.1% 20rem;

	@include mixins.landscape{
		margin: 2rem 7.1% 17rem;
		grid-template-columns: minmax(0, 1fr) minmax(0, 0.75fr);
		grid-template-rows: auto max-content auto;
		padding: 0;
		border-radius: 0.7rem;
	}

	&__heading{
		@include mixins.heading-format;
		color: variables.$light-red;

		@include mixins.landscape{
			margin: 1rem 15%;
			align-self: flex-end;
		}
	}

	&__image-slot{
		grid-row: 4/5;
		@include mixins.image-slot;
		padding-bottom: 76%;

		@include mixins.landscape{
			grid-column: 2/3;
			grid-row: 1/4;
			padding-bottom: 180%;
		}

		@include mixins.medium-screen{
			padding-bottom:110%;
		}

		@include mixins.wide-screen{
			padding-bottom:90%;
		}

		@include mixins.extra-wide-screen{
			padding-bottom:76%;
		}
	}

	&__image{
		@include mixins.cover-parent;
		@include mixins.default-img;
		border-radius: 0.7rem;

		@include mixins.landscape{
			object-position: bottom;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

	}

	&__text{
		@include mixins.text-format;

		@include mixins.landscape{
			margin: 1rem 15%;
		}
	}
}

/* 3. Utility ================================= */

.hidden{
	display: none;
}

.invisible{
	visibility: hidden;
}

.transparent{
	opacity: 0;
}

.dimmer{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	left: 0;
	top: 0;
}

.send-to-rear{
	z-index: -99;
}

.bring-to-front{
	z-index: 99;
}